.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      margin: 20px;
      padding: 20px;
      box-shadow: 1px 4px 7px 1px rgba(201, 201, 201, 0.47);
      border-radius: 3px;
    }
    .top {
      h1{
        color: gray;

      }
    }
    .bottom{
      display: flex;

      .left{
        flex: 1;
        text-align: center;
        img{
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }

      .right{
        flex: 2;

        form{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          gap: 30px;
        }

        .formInput{
          width: 40%;
          label{
            display: flex;
            align-items: center;
            gap: 10px;

            .icon{
              cursor: pointer;
            }
          }
          input{
            width: 100%;
            border: none;
            border-bottom: 1px solid #ddd;
            outline: none;
          }

        }
        button{
          width: 120px;
          background-color: teal;
          padding: 10px 20px;
          font-weight: bold;
          border: none;
        }
      }
    }
  }
}